@charset "UTF-8";

body{
    background-color: rgb(58, 58, 170);
    font: normal 18px Arial;
}
header{
    text-align: center;
    color: white;
}

section{
    background: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.386);
}

footer{
  text-align: center;
  color: white;
  font-style: italic;
}