@charset "UTF-8";

body{
    background-color: rgb(224, 152, 98);
    font: normal 18px Arial;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    
}

input{
    width: 130px;
}

select{
    width: 200px;
}

div{
    padding: 10px;
}

footer{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: white;
}