@charset "UTF-8";

body{
    background-color: rgb(26, 131, 244);
    font: Normal 18px Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
}

div{
  padding: 10px;
}

footer{
    color: white;
    text-align: center;
}