@charset "UTF-8";

body{
    background-color: rgb(57, 153, 242);
    font: Normal 18px Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

div{
    padding: 10px;
}

footer{
    color: white;
    text-align: center;
}